In [27]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [28]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [29]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [30]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_weather = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month',Measurement.date) == '6')

In [31]:
#  3. Convert the June temperatures to a list.
june_weather = []
june_weather = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month',Measurement.date) == '6').all()

In [32]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_weather, columns=['Date', 'June Temp'])
june_df

            Date  June Temp
0     2010-06-01       78.0
1     2010-06-02       76.0
2     2010-06-03       78.0
3     2010-06-04       76.0
4     2010-06-05       77.0
...          ...        ...
1695  2017-06-26       79.0
1696  2017-06-27       74.0
1697  2017-06-28       74.0
1698  2017-06-29       76.0
1699  2017-06-30       75.0

[1700 rows x 2 columns]

In [33]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

         June Temp
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [34]:
## D2: Determine the Summary Statistics for December

In [35]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_weather = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date) == '12')

In [36]:
# 7. Convert the December temperatures to a list.
dec_weather = []
dec_weather = session.query(Measurement.date, Measurement.tobs).\
    filter(extract('month', Measurement.date) == '12').all()

In [37]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_weather, columns=['Date', 'Dec Temp'])
dec_df

            Date  Dec Temp
0     2010-12-01      76.0
1     2010-12-03      74.0
2     2010-12-04      74.0
3     2010-12-06      64.0
4     2010-12-07      64.0
...          ...       ...
1512  2016-12-27      71.0
1513  2016-12-28      71.0
1514  2016-12-29      69.0
1515  2016-12-30      65.0
1516  2016-12-31      65.0

[1517 rows x 2 columns]

In [50]:
dec_df.loc[dec_df['Dec Temp'] == 83]

            Date  Dec Temp
1409  2013-12-08      83.0

In [38]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

          Dec Temp
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [39]:
# Additional queries

june_precip = []
june_precip = session.query(Measurement.date, Measurement.prcp).\
    filter(extract('month', Measurement.date)=='6').all()
june_precip_df = pd.DataFrame(june_precip, columns=['Date', 'June Precip'])
june_precip_df.describe()

       June Precip
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [45]:
dec_precip = []
dec_precip = session.query(Measurement.date, Measurement.prcp).\
    filter(extract('month', Measurement.date)=='12').all()
dec_precip_df = pd.DataFrame(dec_precip, columns=['Date', 'Dec Precip'])
dec_precip_df.describe()

        Dec Precip
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000

In [46]:
dec_precip_df

            Date  Dec Precip
0     2010-12-01        0.04
1     2010-12-03        0.00
2     2010-12-04        0.00
3     2010-12-06        0.00
4     2010-12-07        0.00
...          ...         ...
1512  2016-12-27        0.14
1513  2016-12-28        0.14
1514  2016-12-29        1.03
1515  2016-12-30        2.37
1516  2016-12-31        0.90

[1517 rows x 2 columns]